<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="adonaimobi.Properties.Settings.bd_imobiliariaConnectionString"
            connectionString="Data Source=LAB2-168\SQLEXPRESS;Initial Catalog=bd_imobiliaria;Persist Security Info=True;User ID=sa;Password=aipsi01"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>